
<div class="center-flexbox">
    <span id="selectDietLabel"> Select Diet: </span>


        <mat-form-field>
            <mat-label>Diets</mat-label>
            <mat-select (selectionChange)="changeSelectedDiet($event)" (valueChange)="selected($event)">
                <mat-option *ngFor="let diet of availableDiets$ | async" [value]="diet.id">
                    {{diet.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>


      <!-- <ng-template #loading>
          <mat-form-field>
            <mat-label>
                <div class="select-placeholder-container">
                    <span>Loading...</span>
                    <mat-spinner diameter="20"></mat-spinner>
                </div>
            </mat-label>
            <mat-select>
                empty select required for mat-form-field (mat-form-field must contain a MatFormFieldControl.)
            </mat-select>
          </mat-form-field>
      </ng-template> -->

</div>
