
<div class="ui four cards doubling stackable centered" *ngIf="dietHarmonogram$ | async as dietDays">

  <ng-container *ngFor="let dietDay of dietDays">

      <div class="card" *ngIf="dietDay.Products.length > 0">
        <div class="content">
          <div class="center aligned header">{{days[dietDay.Day]}}</div>
          <div class="center aligned description">
            <p>Click for details</p>
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned">
            <ul>

              <ng-container *ngIf="areProductsSelected else showAllProducts">
                <li *ngFor="let product of dietDay.Products">
                  {{product | productdata}}
                </li>

              </ng-container>

              <ng-template #showAllProducts>
                <li *ngFor="let product of dietDay.Products.slice(0,3)">
                  {{product | productdata}}
                </li>
                <li>
                  ...
                </li>
              </ng-template>

            </ul>
          </div>
        </div>
      </div>

  </ng-container>

</div>



