
<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <div class="ui container">
      <div class="item">
        <i class="home icon"></i>
      </div>
      <div class="right item">

        <div *ngIf="screenWidth < mobileScreenSize; else NonMobileNavbarOptions">
          <a class="item">
            Menu &nbsp;
            <i class="sidebar icon"></i>
          </a>
        </div>

        <ng-template #NonMobileNavbarOptions>
          <a class="item active"> Home </a>
          <a class="item">Create Shop List</a>
        </ng-template>

      </div>
    </div>
  </div>
</div>
