<form #dietDaysForm="ngForm">

  <div class="ui four cards doubling centered">
    <div class="card" *ngFor="let item of dietDays">

      <label class="large-text">
        <div class="custom-checkbox">
          <input type="checkbox" [name]="days[item.Day]" [(ngModel)]="item.isSelected" class="right-spacing"/>
          {{ days[item.Day] }}
        </div>
      </label>

    </div>
  </div>

</form>


<ol class="">
  <li
    class=""
    *ngFor="let item of shortExpirationDateProducts$ | async">
      {{ item | productdata }}
  </li>

</ol>

<br>

<div *ngIf="(longLastingProducts$ | async)?.length > 0" class="left-margin">
  Produkty o dłuższym terminie przydatności
</div>

<br>

<ol class="">
  <li
    class=""
    *ngFor="let item of longLastingProducts$ | async">
      {{ item | productdata }}
 </li>

</ol>

