
<!-- <form #dietDaysForm="ngForm">


    <div class="ui four cards doubling stackable centered">
      <div class="card"  *ngFor="let item of dietDays">

        <div class="content">
          <div class="ui checkbox">
            <input type="checkbox" [id]="days[item.Day]" [name]="days[item.Day]" [(ngModel)]="item.isSelected"/>
            <label [for]="days[item.Day]">
              {{ days[item.Day] }}
            </label>
          </div>
        </div>

      </div>
    </div>


</form>


<div *ngFor="let item of shortExpirationDateProducts$ | async">
  {{ item | productdata }}
</div>

<br>

<div *ngIf="(longLastingProducts$ | async)?.length > 0">
  Produkty o dłuższym terminie przydatności
</div>

<br>

<div *ngFor="let item of longLastingProducts$ | async">
  {{ item | productdata }}
</div> -->



<div style="width: 200px; height: 200px; border-style: solid;" class="containerDiv">
  <input type="checkbox" id="test" class="myInput">
  <label for="test" class="myLabel">
    label
  </label>
</div>


    <div class="ui four cards doubling stackable centered">
      <div class="card"  >

        <div class="content myCustomContent">
          <div class="">
            <input type="checkbox" id="test2" class="myInput2"/>
            <label for="test2" class="myLabel2">
              DAY
            </label>
          </div>
        </div>

      </div>
    </div>
