
<app-product-select-search (productSelectedEvent)="receiveSelectedProducts($event)"></app-product-select-search>

<div *ngIf="areProductSelected">

  <div *ngFor="let dietDay of filteredListOfProducts$ | async">
    <div *ngFor="let product of dietDay.Products">
      {{product.ProductDictionary.ProductName}}
    </div>
  </div>

</div>


<app-dayscard></app-dayscard>


<div class="ui four cards doubling stackable centered">
  <div class="card" *ngFor="let item of allProductsDietHarmonogram$ | async">

        <div class="content">
          <div class="center aligned header">{{days[item.Day]}}</div>
          <div class="center aligned description">
            <p>Click for details</p>
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned">
            <ul>
              <li *ngFor="let product of item.Products.slice(0,3)">

                {{product | productdata}}

              </li>
              <li>
                ...
              </li>
            </ul>
          </div>
        </div>

  </div>
</div>


