

<div class="ui card">
  <div class="content">
    <div class="center aligned header">Jenny Hess</div>
    <div class="center aligned description">
      <p>Jenny is a student studying Media Management at the New School</p>
    </div>
  </div>
  <div class="extra content">
    <div class="center aligned author">
      <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jenny
    </div>
  </div>
</div>

<div *ngFor="let item of dietHarmonogram">
{{days[item.Day]}}
</div>
