
<app-product-select-search (productSelected)="receiveSelectedProducts($event)"></app-product-select-search>

<div class="ui four cards doubling stackable centered">
  <div class="card" *ngFor="let item of dietHarmonogram">

        <div class="content">
          <div class="center aligned header">{{days[item.Day]}}</div>
          <div class="center aligned description">
            <p>Click for details</p>
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned">
            <ul>
              <li *ngFor="let product of item.Products.slice(0,3)">

                {{product | productdata}}

              </li>
              <li>
                ...
              </li>
            </ul>
          </div>
        </div>

  </div>
</div>


